## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
*.csproj.user

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## OS
[Tt]humbs.db
*.DS_Store
